	<!--/ Section About Star /-->
	<section id="about" class="about-mf sect-pt4 route">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box-shadow-full">
						<div class="row">
							<div class="col-md-12 col-lg-6">
								<div class="row">
									<div class="col-sm-6 col-md-5">
										<div class="about-img">
											<img src="{{ asset('build/virginia2.png' ) }}" class="" alt="photo-virginia" id="photo">
										</div>
									</div>
									<div class="col-sm-6 col-md-7">
										<div class="about-info">
											<p>
												<span class="title-s">Identité:
												</span>
												<span>Virginia Atenza</span>
											</p>
											<p>
												<span class="title-s">Profil:
												</span>
												<span>Développeuse Web</span>
											</p>
											<p>
												<span class="title-s">Email:
												</span>
												<span>virginia.atenza@gmail.com</span>
											</p>
											<p>
												<span class="title-s">Téléphone:
												</span>
												<span>06.60.69.59.53</span>
											</p>
										</div>
									</div>
								</div>
								<div class="skill-mf" id="skills-diagram">
									<p class="title-skill mb-3">Compétences Techniques</p>
									<div id="bubbles">
										<div class="item skill-1 ">HTML</div>
										<div class="item skill-2">CSS</div>
										<div class="item skill-3">JavaScript</div>
										<div class="item skill-4">Symfony</div>
										<div class="item skill-5">Twig</div>
										<div class="item skill-6">PHP7</div>
										<div class="item skill-7">SCSS</div>
										<div class="item skill-8">Bootstrap</div>
										<div class="item skill-9">Ruby</div>
										<div class="item skill-10">Ruby On Rails</div>
										<br/>
										<div class="item skill-11">SQL</div>
										<div class="item skill-12">POO</div>
										<div class="item skill-13">MVC</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="about-me pt-4 pt-md-0">
									<div class="title-box-2">
										<h5 class="title-left">
											À propos
										</h5>
									</div>
									<p class="lead text-justify">
										Mon parcours professionnel est riche de diverses expériences dans divers domaines d'activité. En parallèle j'ai un 											profil artistique puisque je suis également comédienne.<br/>
										En 2018, j'ai découvert, par le biais de mon ancien poste de Conseillère à l'Emploi, le métier de Développeuse Web. 										Je m'y suis intéressée de prêt et je me suis aperçue que j'aimais cela : coder, créer, débugger, rechercher des 												solutions, apprendre sans cesse, découvrir des nouveaux langages, etc.
									</p>
									<p class="lead text-justify">
										Afin de concrétiser cette envie d'évolution vers ce nouveau métier, j'ai dans un premier temps suivi une formation 											de Développeur Web, avec
										<a href="https://oclock.io/" target="_blank">
											<strong class="school">«O'clock»</strong>
										</a>.
										<br/>
										Puis, j'ai eu la chance en 2020 de pouvoir suivre la Formation de Développeur Fullstack avec
										<a href="https://www.lewagon.com/fr" target="_blank">
											<strong class="school">«Le Wagon»</strong>
										</a>.
									</p>
									<p class="lead text-justify">
										Je continue de me former, de monter en compétences et de maintenir une veille numérique quotidienne. J'ai également 										le statut de micro-entrepreneur afin de pouvoir effectuer des missions ponctuelles en tant que freelance.<br/>
										Ma priorité aujourd'hui est de m'investir dans une nouvelle prise de poste en tant que Développeuse Web au sein 												d'une entreprise ou une startup.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ Section About End /-->