<!--/ Section Experience Start /-->
<section id="resume" class="fh5co-bg-color">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Mon parcours</h2>
				<div class="cv">
					<object type="application/pdf" width="100%" height="100%" data="CV-Developpeuse Web-Virginia Atenza.pdf">
						<param name="src" value="true"/>
						<p>Vous pouvez visualiser et télécharger mon CV directement<br/>
							<a href="{{ asset('build/CV-Developpeuse Web-Virginia Atenza.pdf' ) }}" target="_blank">
								<strong class="click">en cliquant ici</strong>
								<i class="fas fa-file-pdf"></i>
							</a>
						</p>
					</object>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-md-offset-0">
				<ul class="timeline">
					<li class="timeline-heading text-center animate-box">
						<div>
							<h3>Expériences</h3>
						</div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge">
							<i class="fas fa-suitcase"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Développeuse web freelance</h3>
								<span class="company">
									<strong>Micro-entreprise</strong>
									- Depuis Septembre 2019</span>
							</div>
							<div class="timeline-body">
								<p>Proposition de services de création de sites :
									<a href="https://www.virginiaatenza.fr/" target="_blank">www.virginiaatenza.fr</a>
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge">
							<i class="fas fa-suitcase"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Développeuse Web Fullstack</h3>
								<span class="company">
									<strong>Le Wagon, Paris</strong>
									- Janvier à Mars 2020</span>
							</div>
							<div class="timeline-body">
								<p>Pour les 3 projets cités ci-dessous, les outils et technologies utilisés :
									<br/>
									Trello
									<span class="pipe-caracter">|</span>
									Figma
									<span class="pipe-caracter">|</span>
									HTML
									<span class="pipe-caracter">|</span>
									SCSS
									<span class="pipe-caracter">|</span>
									Bootstrap
									<span class="pipe-caracter">|</span>
									JavaScript
									<span class="pipe-caracter">|</span>
									WebPack
									<span class="pipe-caracter">|</span>
									Yarn
									<span class="pipe-caracter">|</span>
									Ruby / Ruby on Rails
									<span class="pipe-caracter">|</span>
									Active Record
									<span class="pipe-caracter">|</span>
									PostgreSQL
									<span class="pipe-caracter">|</span>
									Git / GitHub
									<span class="pipe-caracter">|</span>
									Heroku
								</p>
								<p>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<i class="fas fa-bookmark"></i>
											Création d’un site pour une Agence Immobilière Sociale
											<em class="title-site">"AIS Caritas"</em>
											<br/>
											Rôle tenu de Lead Développeuse dans une équipe de 3 : Gestion de Projet. Travail sur les wireframes, les User 													Stories, UX Research, etc.<br/>
											<a href="https://youtu.be/xXy05UBjGmU?t=3612" target="_blank">
												<strong>Vidéo de la présentation publique</strong>
											</a>
											<img src="{{ asset('build/demodaylewagon.png' ) }}" class="img-fluid mt-3" alt="photo-demo">
										</li>
										<li class="list-group-item">
											<i class="fas fa-bookmark"></i>
											Création d’une plateforme de location de grand-parents
											<em class="title-site">"Mammys & Papys"</em>
											<br/>
											Projet en équipe de 3 développeurs : reproduire une plateforme de location genre AirBnb.
										</li>
										<li class="list-group-item">
											<i class="fas fa-bookmark"></i>
											Création d’une plateforme de cocktails
											<em class="title-site">"Mister Cocktail"</em>
											<br/>
											Projet en solo de création d'une application web répertoriant des cocktails, avec un espace utilisateur.
										</li>
									</ul>
								</p>
							</div>
						</div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge">
							<i class="fas fa-suitcase"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Développeuse Web Fullstack</h3>
								<span class="company">
									<strong>O'clock, Téléprésentiel</strong>
									- Avril à Octobre 2018</span>
							</div>
							<div class="timeline-body">
								<p>Pour les 2 projets cités ci-dessous, les outils et technologies utilisés :
									<br/>
									Trello
									<span class="pipe-caracter">|</span>
									Balsamiq
									<span class="pipe-caracter">|</span>
									HTML
									<span class="pipe-caracter">|</span>
									SCSS
									<span class="pipe-caracter">|</span>
									Bootstrap
									<span class="pipe-caracter">|</span>
									JavaScript
									<span class="pipe-caracter">|</span>
									WebPack
									<span class="pipe-caracter">|</span>
									PHP7
									<span class="pipe-caracter">|</span>
									Symfony 4
									<span class="pipe-caracter">|</span>
									Twig
									<span class="pipe-caracter">|</span>
									Yarn
									<span class="pipe-caracter">|</span>
									Git / GitHub
								</p>
								<p>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<i class="fas fa-bookmark"></i>
											Création d’une application Web de jeu de Quizz,
											<em class="title-site">"Les Valles Baques"</em>
											<br/>
											Polyvalence dans les rôles durant le projet : Gestion de Projet. Travail sur les wireframes, les User Stories, la                    base de données, etc.
										</li>
										<li class="list-group-item">
											<i class="fas fa-bookmark"></i>
											Création d’une plateforme de Foire aux Questions
											<br/>
											Projet en solo de création d'un site de Foire aux Questions genre Quora, StackOverFlow, avec un espace utilisateur 											 et administrateur.
										</li>
									</ul>
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge">
							<i class="fas fa-suitcase"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Conseillère à l'Emploi</h3>
								<span class="company">
									<strong>Pôle Emploi, Paris</strong>
									- 2016 / 2019
								</span>
							</div>
							<div class="timeline-body">
								<p>Suivi d’un portefeuille de 800 personnes.<br/>
									Gestion globale du dossier du demandeur d’emploi. Analyse des besoins, suivi adapté et individualisé. Sensibiliation 									  aux services digitaux (Emploi Store, Pôle-Emploi.fr, Moocs, Twitter, etc). Aide et conseil parcours Formation.
								</p>
							</div>
						</div>
						<br>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge">
							<i class="fas fa-suitcase"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Assistante d'Education</h3>
								<span class="company">
									<strong>Pôle Emploi, Paris</strong>
									- 2007 / 2014
								</span>
							</div>
							<div class="timeline-body">
								<p>Secrétariat et Encadrement des élèves. Animation d'ateliers théâtre et ateliers d'espagnol. Préparation Concours 										Interne de Professeur d'Espagnol et Conseillère Principale d'Education.
								</p>
							</div>
						</div>
						<br>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge">
							<i class="fas fa-suitcase"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Comédienne</h3>
								<span class="company">
									<strong>Le Manoir, Paris</strong>
									- 2013 / 2015
								</span>
							</div>
							<div class="timeline-body">
								<p>Spectacle vivant dans une maison hantée.
								</p>
							</div>
						</div>
						<br>
					</li>
					<li class="timeline-heading text-center animate-box mt-5">
						<div>
							<h3>Formations</h3>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge">
							<i class="fas fa-graduation-cap"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">
									Certification Conceptrice - Développeuse d'Applications Web, niv. VI</h3>
								<span class="company">
									<strong>Le Wagon Batch#350, Paris</strong>
									- 2020</span>
							</div>
							<div class="timeline-body">
								<p>Bootcamp intensif de 9 semaines, structuré en 3 phases principales :
									<br/>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Phase 0 - Travail préparatoire : Se préparer au bootcamp avec travail personnel</li>
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Phase 1 - Fondations : Apprendre les concepts de base de la programmation, l'architecture logicielle et les bases 											de données relationnelles.
										</li>
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Phase 2 - Développement Web : Apprendre la conception d'interface utilisateur, le développement front et coder des 											 applications web avec Ruby on Rails</li>
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Phase 3 - Projet Final : Créer de A à Z un projet web en équipe</li>
									</ul>
								</p>
							</div>
						</div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge">
							<i class="fas fa-graduation-cap"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Titre Professionnel de Développeur Web et Web Mobile, niv. III</h3>
								<span class="company">
									<strong>O'clock</strong>
									- 2018</span>
							</div>
							<div class="timeline-body">
								<p>Formation intensive de 5 mois, avec une méthologie de pédagogie inversée. Lire <a href="https://drive.google.com/file/d/1gH7Q9xeloHHSEOyjT9vGzNF9nNxL4RHN/view?usp=sharing" target="_blank">Dossier complet du Titre Professionnel</a>
									<br/>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Programme avec un socle commun sur 3 mois, sur les technologies de bases et spécialisation en Symfony avant le 													projet Apothéose
										</li>
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Travail quotidien sur des challenges/exercices pratiques, en solo ou en équipe
										</li>
										<li class="list-group-item">
											<i class="fas fa-check-square"></i>
											Sensibilisation aux bonnes pratiques du Web Opquast
										</li>
									</ul>
								</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge">
							<i class="fas fa-graduation-cap"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">Art Dramatique</h3>
								<span class="company">
									<strong>Cours Florent et Studio Alain de Bock</strong>
									- 2002 - 2008</span>
							</div>
							<div class="timeline-body">
								<p>Théâtre classique et contemporain, analyse de texte, Clown, Commedia dell'Arte, jeu face à la caméra, acting in 											english. Passage de concours au Conservatoire National Supérieur d'Art Dramatique et Classe Libre de Florent.
								</p>
							</div>
						</div>
					</li>
					<li class="animate-box timeline-unverted">
						<div class="timeline-badge">
							<i class="fas fa-graduation-cap"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h3 class="timeline-title">DEUG Lettres et Arts</h3>
								<span class="company">
									<strong>Université Paris 7, Denis Diderot</strong>
									- 2002 - 2006</span>
							</div>
							<div class="timeline-body">
								<p>Parcours universitaire en Lettres Modernes et Arts du Spectacle</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!--/ Section Experiences End /-->
