{% extends 'base.html.twig' %}

{% block title %}Virginia Atenza
{% endblock %}

{% block body %}
	<section id="about" class="about-mf sect-pt4 route">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="box-shadow-full">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-sm-6 col-md-5">
										<div class="about-img">
											<img src="{{ asset('build/virginia2.png' ) }}" class="" alt="photo-virginia" id="photo">
										</div>
									</div>
									<div class="col-sm-6 col-md-7">
										<div class="about-info">
											<p>
												<span class="title-s">Identité:
												</span>
												<span>Virginia Atenza</span>
											</p>
											<p>
												<span class="title-s">Profil:
												</span>
												<span>Développeuse Web</span>
											</p>
											<p>
												<span class="title-s">Email:
												</span>
												<span>virginia.atenza@gmail.com</span>
											</p>
											<p>
												<span class="title-s">Téléphone:
												</span>
												<span>06.60.69.59.53</span>
											</p>
										</div>
									</div>
								</div>
								<div class="skill-mf mt-4">
									<div class="text-center">	
										<p class="title-s">Compétences Techniques</p>
											<img class="mt-2" src="{{ asset('build/hardskills.png' ) }}" alt="" style="width: 80%; border-radius: 8px;">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="about-me pt-4 pt-md-0">
									<div class="title-box-2">
										<h5 class="title-left">
											À propos
										</h5>
									</div>
									<p class="lead text-justify">
										Mon parcours professionnel est riche de diverses expériences dans divers domaines d'activité. En parallèle j'ai un 											profil artistique puisque je suis également comédienne.<br/>
										En 2018, j'ai découvert, par le biais de mon ancien poste de Conseillère à l'Emploi, le métier de Développeuse Web. 										Je m'y suis intéressée de prêt et je me suis aperçue que j'aimais cela : coder, créer, débugger, rechercher des 												solutions, apprendre sans cesse, découvrir des nouveaux langages, etc.
									</p>
									<p class="lead text-justify">
										Afin de concrétiser cette envie d'évolution vers ce nouveau métier, j'ai dans un premier temps suivi une formation 											de Développeur Web, avec <a href="https://oclock.io/" target="_blank"><strong class="school">«O'clock»</strong></a>.
										<br/>
										Puis, j'ai eu la chance en 2020 de pouvoir suivre la Formation de Développeur Fullstack avec 
										<a href="https://www.lewagon.com/fr" target="_blank"><strong class="school">«Le Wagon»</strong></a>.  
									</p>
									<p class="lead text-justify">
										Je continue de me former, de monter en compétences et de maintenir une veille numérique quotidienne. J'ai également 										le statut de micro-entrepreneur afin de pouvoir effectuer des missions ponctuelles en tant que freelance.<br/>
										Ma priorité aujourd'hui est de m'investir dans une nouvelle prise de poste en tant que Développeuse Web au
										sein d'une entreprise ou une startup.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

					{#<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
											<h6>HTML 85%</h6>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
											<h6>CSS 75%</h6>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
											<h6>JAVASCRIPT 50%</h6>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
											<h6>PHP 50%</h6>
										</div>
									</div> #}