{% extends 'base.html.twig' %}

{% block title %}Virginia Atenza
{% endblock %}

{% block body %}

	{{ include('page/_about.html.twig') }}

	{{ include('page/_exp.html.twig') }}

	<!--/ Work Start/-->

	<section id="portfolio" class="team">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<div class="sec-title text-center">
						<h2>Portefolio</h2>
						<div class="devider">
							<i class="far fa-heart fa-lg"></i>
						</div>
					</div>
				</div>

				<!-- single project -->
				<figure class="single-project col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="project-thumb">
						<img src="{{ asset('build/sitefreelance.png' ) }}" alt="Team Member" class="img-responsive">
						<a href="https://www.virginiaatenza.fr/" target="_blank">
							<figcaption class="overlay">
								<h5>virginiatenza.fr
								</h5>
								<p>Site présentant mes prestations de services en tant que développeuse web freelance</p>
								<p class="icon-link">
									<i class="fas fa-link fa-lg"></i>
								</p>
							</figcaption>
						</a>
					</div>
					<h4>Site web freelance</h4>
				</figure>
				<!-- end single project -->

				<!-- single member -->
				<figure class="single-project col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
					<div class="project-thumb">
						<img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80" alt="Team Member" class="img-responsive">
						<figcaption class="overlay">
							<h5>voluptatem quia voluptas
							</h5>
							<p>sit aspernatur aut odit aut fugit,</p>
							<ul class="social-links text-center">
								<li>
									<a href="">
										<i class="fas fa-link"></i>
									</a>
								</li>
							</ul>
						</figcaption>
					</div>
					<h4>Martin Matrone</h4>
					<span>Lead Developer</span>
				</figure>
				<!-- end single member -->

				<!-- single member -->
				<figure class="single-project col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
					<div class="project-thumb">
						<img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80" alt="Team Member" class="img-responsive">
						<figcaption class="overlay">
							<h5>voluptatem quia voluptas
							</h5>
							<p>sit aspernatur aut odit aut fugit,</p>
							<ul class="social-links text-center">
								<li>
									<a href="">
										<i class="fas fa-link"></i>
									</a>
								</li>
							</ul>
						</figcaption>
					</div>
					<h4>Steve Flaulkin</h4>
					<span>Sr. UI Designer</span>
				</figure>
				<!-- end single member -->

				<!-- single member -->
				<figure class="single-project col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
					<div class="project-thumb">
						<img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80" alt="Team Member" class="img-responsive">
						<figcaption class="overlay">
							<h5>voluptatem quia voluptas
							</h5>
							<p>sit aspernatur aut odit aut fugit,</p>
							<ul class="social-links text-center">
								<li>
									<a href="">
										<i class="fas fa-link"></i>
									</a>
								</li>
							</ul>
						</figcaption>
					</div>
					<h4>John Filmr Doe</h4>
					<span>Managing Director</span>
				</figure>
				<!-- end single member -->

			</div>
		</div>
	</section>

	<!--/ Work End/-->
{% endblock %}
