/*======================================
//--//-->   ABOUT
======================================*/

.about-mf .box-shadow-full {
	padding-top: 4rem;
	padding-bottom: 6rem;
}

.about-mf .about-img {
	margin-bottom: 2rem;
}

.about-mf .about-img img {
	margin-left: -40px;
	margin-top: -47px;
}

.lead {
	margin-right: 16px;
}

.school {
	font-weight: bold;

	&:hover {
		color: #00909E;
	}
}

.code {
	color: #110133;
	opacity: 0.7;
	font-size: 18px;

}


#skills-diagram {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 26px;
	/*   max-width: 35em; */
}

#skills-diagram .item {
	position: relative;
	color: #fff !important;
	display: inline-block;
	vertical-align: top;

	border-style: solid;
	border-width: 1px;
	border-radius: 50%;

	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

	/* set defaults to skill-2 */
	width: 2em;
	height: 2em;
	line-height: 2em;
	opacity: 0.8;
}

#skills-diagram .item:hover {
	opacity: 1;
}

/* Support vertical mode */
#skills-diagram-vertical .item {
	display: block;
	/* .25em is an equivalent to inline-block's horizontal whitespace margin */
	margin: 0.25em auto;
}

/* Provide different sizes */
#skills-diagram .skill-1 {
	vertical-align: bottom;
	width: 4em;
	height: 4em;
	line-height: 4em;

	background-color: #110133;
	border-color: #110133;
	opacity: 0.6;

	left: 1em;
}

#skills-diagram .skill-2 {
	width: 4em;
	height: 4em;
	line-height: 4em;

	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	top: 2em;
	left: 1em;
}

#skills-diagram .skill-3 {
	vertical-align: bottom;

	width: 5em;
	height: 5em;
	line-height: 5em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	top: 5em;
	right: 0.8em;
	z-index: 1;
}

#skills-diagram .skill-4 {
	width: 5em;
	height: 5em;
	line-height: 5em;

	background-color: #110133;
	border-color: #110133;
	opacity: 0.7;

	top: 2.67em;
	left: 5em;
}

#skills-diagram .skill-5 {
	/* vertical-align: top; */

	width: 4em;
	height: 4em;
	line-height: 4em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	right: 3em;
	top: 6.2em;
}

#skills-diagram .skill-6 {
	vertical-align: bottom;

	width: 4em;
	height: 4em;
	line-height: 4em;

	background-color: #110133;
	border-color: #110133;

	right: 3em;
	top: 6em;
}

#skills-diagram .skill-7 {
	/* vertical-align: top; */

	width: 4em;
	height: 4em;
	line-height: 4em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	@media (min-width: 992px) {
		right: 3em !important;
		top: 0em !important;
	}
}

#skills-diagram .skill-8 {
	vertical-align: bottom;

	width: 5em;
	height: 5em;
	line-height: 5em;
	background-color: #110133;
	border-color: #110133;

	top: 0.8em;
	right: 5em;
}

#skills-diagram .skill-9 {
	vertical-align: bottom;

	width: 3em;
	height: 3em;
	line-height: 3em;
	background-color: #110133;
	border-color: #110133;

	top: 3em;
	z-index: 1;
}

#skills-diagram .skill-10 {
	vertical-align: bottom;

	width: 7em;
	height: 7em;
	line-height: 7em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	top: 8em;
	right: 2em;
}

#skills-diagram .skill-11 {
	vertical-align: bottom;

	width: 3em;
	height: 3em;
	line-height: 3em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);


	top: 2.56em;
	right: 7em;

	z-index: 1;
}

#skills-diagram .skill-12 {
	vertical-align: bottom;

	width: 3em;
	height: 3em;
	line-height: 3em;
	background-color: #110133;
	border-color: #110133;

	top: 2.8em;
	right: 7em;
	z-index: 1;
}

#skills-diagram .skill-13 {
	vertical-align: bottom;

	width: 3em;
	height: 3em;
	line-height: 3em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	top: 5em;
	right: 12em;
	z-index: 1;
}

#skills-diagram .skill-14 {
	vertical-align: bottom;

	width: 6em;
	height: 6em;
	line-height: 6em;
	background-color: #110133;
	border-color: #110133;

	top: 9.5em;
	left: 11em;
	z-index: 1;
}

#skills-diagram .skill-15 {
	vertical-align: bottom;

	width: 4em;
	height: 4em;
	line-height: 4em;
	background-color: rgb(109, 182, 173);
	border-color: rgba(109, 182, 173, 1);

	top: 4em;
	left: 6.5em;
	z-index: 1;
}

#skills-diagram .skill-16 {
	vertical-align: bottom;

	width: 7em;
	height: 7em;
	line-height: 7em;
	background-color: #110133;
	border-color: #110133;

	top: 5.5em;
	right: 5.7em;
	z-index: 1;
}

#skills-diagram .skill-17 {
	vertical-align: bottom;

	width: 3.5em;
	height: 3.5em;
	line-height: 3.5em;
	background-color: rgba(109, 182, 173, 1);
	border-color: rgba(109, 182, 173, 1);

	top: 9em;
	right: 11em;
	z-index: 2;
}

#skills-diagram .skill-18 {
	vertical-align: bottom;

	width: 6em;
	height: 6em;
	line-height: 6em;
	background-color: #110133;
	border-color: #110133;

	top: 2.5em;
	right: 4em;
	z-index: 1;
}

#skills-diagram .skill-19 {
	vertical-align: bottom;

	width: 4em;
	height: 4em;
	line-height: 4em;
	background-color: rgba(109, 182, 173, 1);
	border-color: rgba(109, 182, 173, 1);

	top: 5em;
	right: 7em;
	z-index: 1;
}

#skills-diagram .skill-20 {
	vertical-align: bottom;

	width: 4em;
	height: 4em;
	line-height: 4em;
	background-color: rgba(109, 182, 173, 1);
	border-color: rgba(109, 182, 173, 1);

	bottom: 2.5em;
	right: 14em;
	z-index: 1;
}


/*======================================
//--//-->   MEDIA QUERIES
======================================*/
@media (min-width: 768px) {
	.about-me {
		margin-top: 140px;
	}
}

@media (min-width: 992px) {
	.about-me {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	#skills-diagram {
		margin-bottom: 100px;
	}

	#skills-diagram .skill-1 {
		left: 1em;
	}

	#skills-diagram .skill-2 {
		left: 0.9em;
	}

	#skills-diagram .skill-5 {
		right: 4em;
	}

	#skills-diagram .skill-4 {
		left: 4em;
	}

	#skills-diagram .skill-6 {
		left: 19.5em;
		top: -0.95em;
	}

	#skills-diagram .skill-14 {
		top: 10.5em;
	}

  #skills-diagram .skill-15 {
		top: 5em;
    left: 7em;
	}

	#skills-diagram .skill-16 {
		right: 4.7em;
	}

	#skills-diagram .skill-18 {
		right: 3em;
	}

  #skills-diagram .skill-19 {
		top: 6em;
    right: 6em;
	}
}

@media (max-width: 768px) {
	#skills-diagram .skill-7 {
		right: 4em;
	}
}

@media (min-width: 768px) {
	#skills-diagram .skill-7 {
		right: 26em;
		top: 4.5em;
	}

	#bubbles {
		margin-left: 80px;
	}

	img#photo {
		width: 350px;
	}
}

@media (min-width: 992px) {
	#bubbles {
		margin-left: 30px;
	}

	img#photo {
		width: 270px;
	}
}

@media screen and (max-device-width: 768px),
screen and (max-width: 768px) {
	div.about-info {
		margin-top: 30px;
		margin-left: 18px;
		text-align: center;
	}

	.about-info p {
		font-size: 1.4em;
	}

	.title-s {
		font-size: 1em;
	}

	.title-skill {
		font-size: 1.5em;
	}
}