.devider {
	margin-top: 30px;
}

.fa-heart {
	color: #cccccc;
}

.devider:before,
.devider:after {
	content: "______________________";
	color: #e6e8ea;
	position: relative;
	bottom: 6px;
}

.devider:before {
	right: 10px;
}

.devider:after {
	left: 10px;
}

.single-project {
	position: relative;
	overflow: hidden;
	margin-bottom: 16px;
}

.single-project:hover {
	cursor: pointer;
}

.single-project:after,
.single-project:before {
	position: absolute;
	content: '';
}

.single-project:before {
	width: 90%;
	height: 220%;
	background: rgba(17, 1, 51, 0.6);
	top: -68%;
	left: -100%;
	z-index: 1;
	transform: rotate(21deg);
	transform-origin: center top 0;
	transition: all .5s ease 0s;
}

.single-project:hover:before {
	left: 30%;
}

.single-project .overlay {
	width: 100%;
	padding: 0 20px;
	position: absolute;
	left: 0;
	z-index: 2;
	transition: all 1.1s ease 0s;
}

.single-project:hover:after {
	bottom: 70%;
}

.single-project img {
	width: 100%;
	height: auto;
}

.single-project .overlay {
	top: -100%;
	left: 10px;
}

.single-project:hover .overlay {
	top: 30px;
	cursor: pointer;
}

.single-project h4 {
	display: inline-block;
	font-size: 24px;
	color: #fff;
	margin-top: 5px;
	font-weight: bold;
}

.single-project h5 {
	font-size: 18px;
	color: #fff;
	margin-top: 5px;
	font-weight: 600;
}

.single-project p {
	font-size: 15px;
	color: #fff;
	margin-top: 5px;
	width: 75%;
}

.single-project .list-tech {
	width: 308px;
}

.single-project p.tech {
	font-size: 15px;
	color: #fff;
	margin-top: 5px;
}

.icon-link {
	background: #00909E;
	padding: 12px 10px;
	width: 62px !important;
	height: 70px;
}

.overlay .fa-link,
.fa-play {
	font-size: 20px;
	margin: 0 5px;
	color: #fff;

}


/*======================================
//--//-->   MEDIA QUERIES
======================================*/

@media (max-width: 768px) and (max-width: 979px) {

	.single-project {
		margin-bottom: 40px;
	}

	.single-project p.tech {
		font-size: 16px;
	}

	.single-project p {
		font-size: 20px;
	}
}