<!--/ Intro Banner Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(https://images.unsplash.com/photo-1546464033-5b15cf1168f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1429&q=80); height: 800px;">
	<div class="overlay-itro"></div>
	<div class="intro-content display-table">
		<div class="table-cell">
			<div class="container">
				<h1 class="intro-title mb-4">Je suis Virginia Atenza</h1>
				<p class="intro-subtitle">
					<span class="text-slider-items">Product Owner, Développeuse Web, Design, UX/UI, Création, Innovation, Digital, WebMarketing</span>
					<strong class="text-slider"></strong>
				</p>
			</div>
		</div>
	</div>
</div>
<!--/ Intro Banner End /-->
