<!--/ Footer Star /-->
<div class="footer">
	<div class="footer-links col-sm-6">
		<a href="https://github.com/Virginia75012">
			<i class="fab fa-github fa-lg"></i>
		</a>
		<a href="https://twitter.com/virginiaatenza">
			<i class="fab fa-twitter fa-lg"></i>
		</a>
		<a href="https://www.linkedin.com/in/virginia-atenza/">
			<i class="fab fa-linkedin fa-lg"></i>
		</a>
	</div>
	<div class="footer-copyright">
		This website is made with
		<i class="fas fa-heart "></i>
		by Virginia Atenza -
		{{ "now"|date("Y") }}
	</div>
</div>
<!--/ Footer End /-->
